<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>875126256553-uavgac9mjglhe9cvq7kian7m0dmg8df6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.875126256553-uavgac9mjglhe9cvq7kian7m0dmg8df6</string>
	<key>API_KEY</key>
	<string>AIzaSyAuQBnOiJpxF8bDLLcTtiCqjzo0R5B5eiE</string>
	<key>GCM_SENDER_ID</key>
	<string>875126256553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.Retflix</string>
	<key>PROJECT_ID</key>
	<string>retflix-f8f76</string>
	<key>STORAGE_BUCKET</key>
	<string>retflix-f8f76.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875126256553:ios:0e19c42981320b55be4ab8</string>
</dict>
</plist>